<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <script src="/vendor/assets/javascripts/angular/angular.js"></script>
        <script src="/vendor/assets/javascripts//angular-resource/angular-resource.js"></script>
        <script src="/lib/assets/javascripts/meducation_front_end.js"></script>
    </body>
</html>