<!DOCTYPE html>
<html>
<head>
    <title>Content Widget Directive</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css"/>
    <style>
        html {
            font-size: 62.5%;
        }
    </style>
    <link rel="stylesheet" href="lib/assets/stylesheets/meducation_front_end.css"/>
</head>
<body data-ng-app="meducationFrontEnd">

<div class="pure-g-r">
    <div class="pure-u-1-12">
        <aside data-med-content-interactive="true" data-med-content-widget="{
            class: 'mf',
            type: 'slideshow',
            url: '/media_files/1',
            title: 'Abdominal examination',
            author: 'Dr Alastair Buick',
            img: 'http://placekitten.com/159/100'
        }"></aside>
        <aside data-med-content-interactive="true" data-med-content-widget="{
            class: 'mf',
            type: 'premium_tutorial',
            url: '/media_files/2',
            title: 'The Knee - Anatomy',
            author: 'Mr Raymond Buick',
            img: 'http://placekitten.com/159/100'
        }"></aside>
        <aside data-med-content-widget="{
            class: 'mf',
            type: 'image',
            url: '/media_files/3',
            title: 'Abdominal examination',
            author: 'Dr Alastair Buick',
            img: 'http://placekitten.com/159/100'
        }"></aside>
        <aside data-med-content-widget="{
            class: 'mf',
            type: 'premium_tutorial',
            url: '/media_files/2',
            title: 'The Knee - Anatomy',
            author: 'Mr Raymond Buick',
            img: 'http://placekitten.com/159/100'
        }"></aside>
    </div>
</div>

<script src="/src/test/lib/jquery/jquery.js"></script>
<script src="/src/test/lib/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/src/test/lib/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="/src/test/lib/blueimp-file-upload/js/jquery.fileupload.js"></script>
<script src="/src/test/lib/blueimp-file-upload/js/jquery.fileupload-process.js"></script>

<script src="/src/test/lib/angular/angular.js"></script>
<script src="/src/test/lib/angular-resource/angular-resource.js"></script>

<script src="/vendor/assets/javascripts/jquery.fileupload-angular.js"></script>

<script src="/lib/assets/javascripts/meducation_front_end.js"></script>
<!--<script src="/lib/assets/javascripts/meducation_front_end.min.js"></script>-->
</body>
</html>