<div ng-app="meducationFrontEnd" ng-controller="votesController" class="votes votes_media_file_30297 fix_position_on_scroll"
     data-rating="118" data-votes-class="votes_media_file_30297"
     data-votes-item-id="30297" data-votes-item-type="MediaFile"
     id="page_votes"><a
        href="/my/votes?item%5Bid%5D=30297&amp;item%5Btype%5D=MediaFile&amp;liked=1"
        class="thumb_up" data-method="post" data-remote="true" rel="nofollow"
        title="Vote up"><img alt=""
                             src="https://d20aydchnypyzp.cloudfront.net/assets/i/thumb_up-bb41b1702e5bde05750f0eaf8dcc5855.png"></a>

    <div class="rating">+118</div>
    <a href="/my/votes?item%5Bid%5D=30297&amp;item%5Btype%5D=MediaFile&amp;liked=0"
       class="thumb_down" data-method="post" data-remote="true" rel="nofollow"
       title="Vote down"><img alt=""
                              src="https://d20aydchnypyzp.cloudfront.net/assets/i/thumb_down-589c9f572e47e14cd7788ea94b333289.png"></a>
</div>

<script src="/vendor/assets/javascripts/angular/angular.js"></script>
<script src="/vendor/assets/javascripts//angular-resource/angular-resource.js"></script>
<script src="/lib/assets/javascripts/meducation_front_end.js"></script>
<script src="/lib/assets/javascripts/VotesController.js"></script>
<script src="/lib/assets/javascripts/VotesService.js"></script>