// Color Palette

// Blues
$lighterblue: #92c2ff;
$lightblue: #4f9dff;
$blue: #3e7fcf; // Meducation Blue
$darkblue: #3368aa;
$darkerblue: #234b77;
$verydarkblue: #1f2326;

// Grays
$backgroundgray: #f9f9f9;
$lightergray: #d5d6db;
$lightgray: #c9cacc;
$gray: #808183;
$darkgray: #3d3f41;
$darkergray: #1a1b1d;
$verydarkgray: #171718;

// Greens
$lightergreen: #a9fc5b;
$lightgreen: #87ed27;
$green: #59a80f; //
$darkgreen: #3f760c;
$darkergreen: #274807;
$verydarkgreen: #182c05;
$premium: #47a632;

// Orange
$orange1: #f26522;
$orange2: #e05e20;
$orange3: #cf571e;

// Status Colors
$success: #66bc00;
$error: #e84939;
$action: #67bc00;
$warning: #e3c01e;
$disabled: #a8a8a8;

// Typography
$normal: #181818;
$light: #8a8a8a;
$really-light: #b6b6b6;

// Semantic colors (USE THESE, NOT THE RAW COLOURS)
$border-color: #f0f0f0;
$light-text-color: #cfe4ff;

// Control Variables
$fixed-width: 800px;
$font-family: 'proxima-nova', Helvetica, Arial, sans-serif;